
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

$primary-color: #2F3E46;
$primary-color-x-light: #d3d3d3;
$secondary-color: #C38300;
$white: #fff;

$transparent-black: rgba(0, 0, 0, 0.2);
$transparent-black-dark: rgba(0, 0, 0, 0.8);
$transparent-white: rgba(255, 255, 255, 0.75);

$primary-border: 1px solid $primary-color;
$shadow: 0 4px 8px 0 $transparent-black,  0 6px 20px 0 $transparent-black;

$primary-transition: all 0.2s ease-in-out;
